@model DecisionTechProductBasket.Models.Basket

@{
    ViewBag.Title = "Basket";
}

<h2>Basket</h2>

@using (Html.BeginForm("Edit", "Basket", FormMethod.Post))


{
    @Html.HiddenFor(m => Model.Id)
    <p>Total Price of the Basket in pounds: <span>@Model.TotalPriceInPounds</span></p>

    <table class="table">
        <tr>
            <th>Product Name</th>
            <th>Price (£)</th>
            <th>Quantity</th>
            <th>Edit</th>
        </tr>

        @for (var i = 0; i < Model.Products.Count; i++)
        {
            @Html.HiddenFor(m => m.Products[i].Id)

            <tr>
                <td>
                    @Html.DisplayFor(m => m.Products[i].DisplayName)
                    @Html.HiddenFor(m => m.Products[i].DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Products[i].PriceInPounds)
                    @Html.HiddenFor(m => m.Products[i].PriceInPounds)
                </td>
                <td>
                    @Html.TextBoxFor(basket => basket.Products[i].Quantity)
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="Submit" class="btn-primary" />
}
